# Introduction to Sprint - Machine Learning Scratch

### [Problem 1] Scratch of train_test_split

In [1]:
import numpy as np
import pandas as pd
from math import ceil

In [2]:
def scratch_train_test_split(X, y, train_size=0.8):
    """Split the validation data.
    Parameters
    ----------
    X : ndarray
      Training data (n_samples, n_features)
    y : ndarray
      Correct value (n_samples,)
    train_size : float
      Specify what percentage to use as train (0 < train_size < 1)
    Returns
    -------
    X_train : ndarray
      Training data (n_samples, n_features)
    X_test : ndarray
      Validation data (n_samples, n_features)
    y_train : ndarray
      Correct value of training data (n_samples,)
    y_test : ndarray
      Correct value of verification data (n_samples,)
    """
    # TODO
    if isinstance(y, range) or isinstance(y, list):
        y = np.array(y)
    assert X.shape[0] > 0 and y.shape[0] > 0, 'At least one row required in X and y'
    assert X.shape[0] == y.shape[0], '2 array must have same n_samples'
    assert train_size > 0 and train_size < 1, 'train_size must be in [0, 1]'
    
    n_samples = X.shape[0]
    n_train = ceil(n_samples * train_size)
    
    train_idx = np.random.choice(X.shape[0], size=n_train, replace=False)
    test_idx = [i for i in range(n_samples) if i not in train_idx]
    
    X_train = X[train_idx, :]
    y_train = y[train_idx]
    X_test = X[test_idx, :]
    y_test = y[test_idx]
    return X_train, X_test, y_train, y_test

In [3]:
X, y = np.arange(20).reshape((10, 2)), np.arange(10)
print(X)
print(y)

[[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6  7]
 [ 8  9]
 [10 11]
 [12 13]
 [14 15]
 [16 17]
 [18 19]]
[0 1 2 3 4 5 6 7 8 9]

In [4]:
X_train, X_test, y_train, y_test = scratch_train_test_split(X, y, train_size=0.6)
print('X_train\n', X_train)
print('y_train\n', y_train)
print('X_test\n', X_test)
print('y_test\n', y_test)

X_train
 [[12 13]
 [ 6  7]
 [ 4  5]
 [10 11]
 [18 19]
 [14 15]]
y_train
 [6 3 2 5 9 7]
X_test
 [[ 0  1]
 [ 2  3]
 [ 8  9]
 [16 17]]
y_test
 [0 1 4 8]

In [5]:
print(X.shape, y.shape)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(10, 2) (10,)
(6, 2) (6,) (4, 2) (4,)

In [6]:
# Simple data set 1 creation code
np.random.seed(seed=0)
n_samples = 500
f0 = [-1, 2]
f1 = [2, -1]
cov = [[1.0,0.8], [0.8, 1.0]]
f0 = np.random.multivariate_normal(f0, cov, n_samples // 2)
f1 = np.random.multivariate_normal(f1, cov, n_samples // 2)
X1 = np.concatenate([f0, f1])
y1 = np.concatenate([
    np.full(n_samples // 2, 1),
    np.full(n_samples // 2, -1)
])

In [7]:
X1_train, X1_test, y1_train, y1_test = scratch_train_test_split(X1, y1)
print(X1.shape, y1.shape)
print(X1_train.shape, y1_train.shape, X1_test.shape, y1_test.shape)

(500, 2) (500,)
(400, 2) (400,) (100, 2) (100,)

In [8]:
# Simple data set 2 creation code
X2 = np.array([[-0.44699 , -2.8073  ],[-1.4621  , -2.4586  ],
       [ 0.10645 ,  1.9242  ],[-3.5944  , -4.0112  ],
       [-0.9888  ,  4.5718  ],[-3.1625  , -3.9606  ],
       [ 0.56421 ,  0.72888 ],[-0.60216 ,  8.4636  ],
       [-0.61251 , -0.75345 ],[-0.73535 , -2.2718  ],
       [-0.80647 , -2.2135  ],[ 0.86291 ,  2.3946  ],
       [-3.1108  ,  0.15394 ],[-2.9362  ,  2.5462  ],
       [-0.57242 , -2.9915  ],[ 1.4771  ,  3.4896  ],
       [ 0.58619 ,  0.37158 ],[ 0.6017  ,  4.3439  ],
       [-2.1086  ,  8.3428  ],[-4.1013  , -4.353   ],
       [-1.9948  , -1.3927  ],[ 0.35084 , -0.031994],
       [ 0.96765 ,  7.8929  ],[-1.281   , 15.6824  ],
       [ 0.96765 , 10.083   ],[ 1.3763  ,  1.3347  ],
       [-2.234   , -2.5323  ],[-2.9452  , -1.8219  ],
       [ 0.14654 , -0.28733 ],[ 0.5461  ,  5.8245  ],
       [-0.65259 ,  9.3444  ],[ 0.59912 ,  5.3524  ],
       [ 0.50214 , -0.31818 ],[-3.0603  , -3.6461  ],
       [-6.6797  ,  0.67661 ],[-2.353   , -0.72261 ],
       [ 1.1319  ,  2.4023  ],[-0.12243 ,  9.0162  ],
       [-2.5677  , 13.1779  ],[ 0.057313,  5.4681  ]])
y2 = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [9]:
X2_train, X2_test, y2_train, y2_test = scratch_train_test_split(X2, y2)
print(X2.shape, y2.shape)
print(X2_train.shape, y2_train.shape, X2_test.shape, y2_test.shape)

(40, 2) (40,)
(32, 2) (32,) (8, 2) (8,)

### [Problem 2] Creating a code to solve the classification problem

In [10]:
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.datasets import load_iris

In [11]:
# Classification on iris dataset
X = pd.DataFrame(data=load_iris().data, columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
y = pd.DataFrame(load_iris().target, columns=[('Species')])
df = pd.concat([X, y], axis=1)
df = df[df.Species != 0]
X = df.drop(columns=['Species']).values
y = df['Species'].values

In [12]:
X_train, X_test, y_train, y_test = scratch_train_test_split(X, y, train_size=0.8)

In [13]:
from sklearn.preprocessing import StandardScaler

def scale(X_train, X_test):
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train_scaled = scaler.transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    return X_train_scaled, X_test_scaled

In [14]:
X_train_scaled, X_test_scaled = scale(X_train, X_test)

In [15]:
sgd = SGDClassifier(loss='log')
sgd.fit(X_train_scaled, y_train)
sgd.score(X_test_scaled, y_test)

0.9

In [16]:
sgd_predict = sgd.predict(X_test_scaled)
result_sgd = pd.DataFrame([sgd_predict, y_test], index=['Predict', 'Actual value'])
result_sgd

              0   1   2   3   4   5   6   7   ...  12  13  14  15  16  17  18  19
Predict        1   2   1   1   1   2   1   1  ...   2   2   2   2   2   2   2   2
Actual value   1   1   1   1   1   1   1   1  ...   2   2   2   2   2   2   2   2

[2 rows x 20 columns]

In [17]:
svc = SVC()
svc.fit(X_train_scaled, y_train)
svc.score(X_test_scaled, y_test)

0.9

In [18]:
svc_predict = svc.predict(X_test_scaled)
result_svc = pd.DataFrame([svc_predict, y_test], index=['Predict', 'Actual value'])
result_svc

              0   1   2   3   4   5   6   7   ...  12  13  14  15  16  17  18  19
Predict        1   2   1   1   1   2   1   1  ...   2   2   2   2   2   2   2   2
Actual value   1   1   1   1   1   1   1   1  ...   2   2   2   2   2   2   2   2

[2 rows x 20 columns]

In [19]:
dtc = DecisionTreeClassifier()
dtc.fit(X_train_scaled, y_train)
dtc.score(X_test_scaled, y_test)

0.85

In [20]:
dtc_predict = dtc.predict(X_test_scaled)
result_dtc = pd.DataFrame([dtc_predict, y_test], index=['Predict', 'Actual value'])
result_dtc

              0   1   2   3   4   5   6   7   ...  12  13  14  15  16  17  18  19
Predict        1   2   1   1   1   2   1   1  ...   2   2   2   2   2   2   1   2
Actual value   1   1   1   1   1   1   1   1  ...   2   2   2   2   2   2   2   2

[2 rows x 20 columns]

In [21]:
# Classification on simple data set 1 
# (scratch_train_test_split on the dataset has already been done
# in problem 1)
X1_train_scaled, X1_test_scaled = scale(X1_train, X1_test)

In [22]:
sgd = SGDClassifier(loss='log')
sgd.fit(X1_train_scaled, y1_train)
sgd.score(X1_test_scaled, y1_test)

1.0

In [23]:
pd.set_option('display.max_columns', None)
sgd_predict = sgd.predict(X1_test_scaled)
result_sgd = pd.DataFrame([sgd_predict, y1_test], index=['Predict', 'Actual value'])
result_sgd

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99
Predict,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Actual value,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [24]:
svc = SVC()
svc.fit(X1_train_scaled, y1_train)
svc.score(X1_test_scaled, y1_test)

1.0

In [25]:
svc_predict = svc.predict(X1_test_scaled)
result_svc = pd.DataFrame([svc_predict, y1_test], index=['Predict', 'Actual value'])
result_svc

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99
Predict,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Actual value,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [26]:
dtc = DecisionTreeClassifier()
dtc.fit(X1_train_scaled, y1_train)
dtc.score(X1_test_scaled, y1_test)

1.0

In [27]:
dtc_predict = dtc.predict(X1_test_scaled)
result_dtc = pd.DataFrame([dtc_predict, y1_test], index=['Predict', 'Actual value'])
result_dtc

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99
Predict,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Actual value,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [28]:
# Classification on simple data set 2
# (scratch_train_test_split on the dataset has already been done
# in problem 1)
X2_train_scaled, X2_test_scaled = scale(X2_train, X2_test)

In [29]:
sgd = SGDClassifier(loss='log')
sgd.fit(X2_train_scaled, y2_train)
sgd.score(X2_test_scaled, y2_test)

0.75

In [30]:
sgd_predict = sgd.predict(X2_test_scaled)
result_sgd = pd.DataFrame([sgd_predict, y2_test], index=['Predict', 'Actual value'])
result_sgd

              0  1  2  3  4  5  6  7
Predict       1  0  1  0  1  1  1  1
Actual value  0  0  0  0  1  1  1  1

In [31]:
svc = SVC()
svc.fit(X2_train_scaled, y2_train)
svc.score(X2_test_scaled, y2_test)

0.625

In [32]:
svc_predict = svc.predict(X2_test_scaled)
result_svc = pd.DataFrame([svc_predict, y2_test], index=['Predict', 'Actual value'])
result_svc

              0  1  2  3  4  5  6  7
Predict       0  1  0  1  0  1  1  1
Actual value  0  0  0  0  1  1  1  1

In [33]:
dtc = DecisionTreeClassifier()
dtc.fit(X2_train_scaled, y2_train)
dtc.score(X2_test_scaled, y2_test)

0.375

In [34]:
dtc_predict = dtc.predict(X2_test_scaled)
result_dtc = pd.DataFrame([dtc_predict, y2_test], index=['Predict', 'Actual value'])
result_dtc

              0  1  2  3  4  5  6  7
Predict       0  1  1  1  1  0  0  1
Actual value  0  0  0  0  1  1  1  1

In [36]:
df_house = pd.read_csv('sample_data/train.csv')
df_house.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [37]:
X_house = df_house[['GrLivArea', 'YearBuilt']].values
y_house = df_house['SalePrice'].values

In [40]:
X_house_train, X_house_test, y_house_train, y_house_test = scratch_train_test_split(X_house, y_house, train_size=0.8)
X_house_train_scaled, X_house_test_scaled = scale(X_house_train, X_house_test)

In [41]:
from sklearn.linear_model import SGDRegressor
pd.set_option("precision", 1)
sgd_house = SGDRegressor()
sgd_house.fit(X_house_train_scaled, y_house_train)
# Get coefficient of determination R^2
sgd_house.score(X_house_test_scaled, y_house_test)

0.7306468999915083

In [ ]:
sgd_house_predict = sgd_house.predict(X_house_test_scaled)
result_sgdh = pd.DataFrame([sgd_house_predict, y_house_test], index=['Predict', 'Actual value'])
result_sgdh

### [Problem 3] Creating a code to solve the regression problem

In [42]:
from sklearn.linear_model import LinearRegression

X_house_train, X_house_test, y_house_train, y_house_test = scratch_train_test_split(X_house, y_house, train_size=0.8)
lr = LinearRegression()
lr.fit(X_house_train_scaled, y_house_train)
lr.score(X_house_test_scaled, y_house_test)

0.006857539232573484

In [43]:
lr_predict = lr.predict(X_house_test_scaled)
result_lr = pd.DataFrame([lr_predict, y_house_test], index=['Predict', 'Actual value'])
result_lr

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291
Predict,188367.8,180912.7,174528.8,184728.9,175266.0,173128.0,177606.5,178194.7,178582.8,183782.1,199386.8,176626.7,179334.0,187751.7,190795.3,190061.1,172552.9,175508.2,175265.1,180952.9,177298.2,202848.9,174321.1,175448.0,178892.4,174906.4,195847.9,189409.0,186142.8,181283.2,177436.1,180584.5,201157.8,178000.9,183307.0,175710.7,180166.2,190738.4,174312.4,176903.5,197419.8,180577.4,177281.1,186051.0,183116.0,182763.5,184686.7,178335.7,171530.3,181740.9,180589.8,190586.5,182608.6,181501.6,173136.4,186630.0,186833.1,196568.7,171852.6,183725.0,179313.8,182440.9,186167.6,175928.1,186349.9,178655.9,179466.0,179933.0,177825.5,178087.5,186426.3,176093.6,186838.4,178566.0,190671.3,181861.4,182476.4,189545.0,182170.7,195343.9,176916.8,179333.7,173078.0,170351.9,180019.4,181611.8,171935.6,182775.7,172726.2,182695.2,186843.4,183768.7,174432.9,172897.3,184736.4,174955.5,171613.9,188733.0,182839.1,178005.8,173504.7,183248.6,180938.2,189612.4,188539.8,175384.6,179446.7,182849.3,191054.5,193767.9,173788.5,180381.5,184535.2,187897.9,175092.1,174810.8,185705.2,175137.1,181087.6,181037.9,183663.6,175126.3,179340.6,181206.2,186430.9,185143.8,186516.0,183219.7,179985.2,180679.5,177154.4,180945.1,193894.3,176290.8,184792.6,175487.8,183985.5,173807.7,174906.4,179735.9,179042.4,172701.9,180868.3,177188.2,182244.0,180414.1,173152.8,176465.3,201877.6,183346.4,176755.4,176043.0,178428.2,183006.7,174515.2,180582.7,171542.1,180128.6,177165.5,176275.0,175250.2,179552.4,172754.4,172675.8,174841.2,173096.0,173263.4,175765.0,179421.0,189972.6,173425.5,181325.8,172674.0,187150.5,177337.0,183754.5,189473.7,188047.9,186871.3,188090.8,185219.1,174243.4,186578.2,177433.8,178901.7,175665.1,174428.8,195114.7,183851.4,186603.3,187616.0,181956.8,177309.4,175078.1,175264.5,177271.4,182911.7,179117.9,176299.7,182852.0,200784.0,182933.7,182521.0,198402.4,174447.4,173489.8,187198.9,179253.5,185396.9,189705.8,177678.8,180451.0,177763.9,174906.4,178322.9,187622.5,182956.4,186775.7,174511.1,183972.4,182081.3,189520.3,174122.1,181725.1,173393.2,173531.4,185647.2,188443.6,181732.3,177446.9,179313.2,183523.4,183026.2,177257.5,177156.2,185164.3,176186.5,173337.3,183569.0,177297.5,176827.1,186685.0,180785.4,184389.2,183399.5,188602.2,172865.6,189352.2,182963.2,175161.4,184763.2,178881.5,180349.7,185554.4,177418.7,179515.1,187733.6,175905.8,181902.4,184973.0,182956.1,177565.5,173751.2,172183.6,182637.5,170452.1,185932.6,183561.6,175475.0,181894.3,187092.4,194663.9,179868.7,172675.8,195394.2,181897.1,172520.3,183977.8,179564.5,176244.9,177136.4,173192.6,172412.2,182902.1,185364.9,189752.8,177641.9,173896.9,184682.6,176110.3,177430.1,178641.0
Actual value,181500.0,223500.0,140000.0,118000.0,129500.0,345000.0,154000.0,179900.0,249700.0,172500.0,101000.0,202500.0,180000.0,226000.0,244000.0,129500.0,164500.0,85000.0,123600.0,185000.0,94750.0,118964.0,190000.0,180000.0,139000.0,155000.0,320000.0,84500.0,155000.0,109500.0,269500.0,127500.0,325624.0,183500.0,184000.0,243000.0,200000.0,475000.0,173000.0,286000.0,315000.0,192000.0,148500.0,235000.0,104000.0,171500.0,149000.0,180500.0,98000.0,186000.0,210000.0,311500.0,167240.0,97000.0,148000.0,403000.0,110500.0,120000.0,180000.0,76500.0,230000.0,231500.0,73000.0,120500.0,124500.0,201000.0,228500.0,244600.0,179200.0,267000.0,305900.0,187500.0,354000.0,126175.0,242000.0,324000.0,151500.0,154000.0,437154.0,130000.0,145000.0,118000.0,147000.0,165000.0,132000.0,127000.0,187750.0,213500.0,106500.0,123000.0,164990.0,150000.0,145000.0,115000.0,228000.0,181134.0,149500.0,275000.0,79900.0,181000.0,81000.0,116000.0,118000.0,110000.0,188700.0,178740.0,212000.0,86000.0,208300.0,161000.0,134000.0,402861.0,106250.0,159000.0,178000.0,229000.0,210000.0,255500.0,108000.0,108000.0,108000.0,185000.0,135960.0,120000.0,118500.0,164500.0,79500.0,138000.0,141000.0,359100.0,118500.0,261500.0,67000.0,240000.0,153000.0,155000.0,84500.0,197900.0,137500.0,230500.0,137500.0,257500.0,148500.0,143000.0,196000.0,140000.0,302000.0,159500.0,275000.0,110000.0,190000.0,299800.0,96500.0,156000.0,179400.0,290000.0,100000.0,160000.0,221500.0,142500.0,187100.0,109900.0,582933.0,135500.0,271000.0,224000.0,147400.0,237000.0,167000.0,128000.0,141000.0,213000.0,158000.0,170000.0,189950.0,129000.0,200500.0,133000.0,350000.0,157000.0,118500.0,100000.0,135500.0,122900.0,165000.0,118858.0,140000.0,611657.0,240000.0,125500.0,173733.0,193000.0,175000.0,285000.0,117500.0,242000.0,244400.0,150000.0,197500.0,172000.0,145000.0,132000.0,178900.0,135000.0,199900.0,125000.0,185000.0,163500.0,135000.0,165000.0,85000.0,160000.0,197000.0,310000.0,287000.0,173000.0,196000.0,278000.0,139600.0,185850.0,248000.0,81000.0,159500.0,219500.0,155900.0,136500.0,146000.0,176432.0,127000.0,119500.0,106000.0,179900.0,181000.0,115000.0,144000.0,230000.0,218000.0,179900.0,129000.0,194000.0,625000.0,171000.0,163000.0,285000.0,115000.0,154900.0,168000.0,174000.0,107000.0,140000.0,113000.0,145000.0,134500.0,115000.0,184000.0,178000.0,186500.0,127500.0,181000.0,381000.0,137000.0,139000.0,137000.0,155000.0,154000.0,225000.0,290000.0,202500.0,179200.0,275000.0,130500.0,200000.0,177000.0,122000.0,127000.0,237500.0,235000.0,123000.0,160000.0,137500.0,120000.0,105000.0,112000.0,125500.0,207000.0,223000.0,192140.0,120500.0,191000.0,129000.0,157900.0,84500.0